body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.navbar-inverse .navbar-brand {
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
  color: #ffffff;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  color: #ffffff;
}
h2{
  color:#333333;
  text-shadow: 2px 2px 4px #000000;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px #000000;
  color:#333333;
}
h5{
  color:#000000;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  color: #ffffff;
  text-shadow: 4px 4px 10px #000000;
}
#box {
  background-color: #333333;
  opacity: 0.95;
  border: 1px solid black;
  border-radius: 4px;
}
#border {
  background-color: #333333;
  opacity: 0.65;
  width: 90%;
  border: 1px solid black;
  border-radius: 4px;
}
.media-body {
  color: #ffffff;
  font-size: 17px;
  padding: 4px;
  margin-bottom: 25px;
}
.media {
  background-color: #333333;
  opacity: 0.8;
  border-radius: 4px;
  color: #ffffff;
  width: 500px;
  border: 1px solid black;
}
div.img {
  margin: 5px;
  float: left;
  width: 240px;
  min-height:161px;
}
div.img:hover {
  border: 1px solid #777777;
}
div.img img {
  width: 100%;
  height: auto;
}
.nav-pills>li {
  padding-left: 130px;
  padding-bottom: 8px;
}
.nav-pills>li.active>a:hover {
  background-color: #32CD32;
}