<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><cite>amiGo</cite>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Model name" name="search"  value="search" ng-model="car" required/>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="submit" ng-click="show(car)" >
                 <i class="fa fa-car"></i>
               </button>
             </span>
           </div>
         </form>
       </li>
       <li> <a href="registration.html"><span class="glyphicon glyphicon-log-in"></span> Login</a>
       </li>
       <li><a href="registration.html"><span class="glyphicon glyphicon-user"></span> Sign up</a>
       </li>
     </ul>   
   </div>
 </nav>
</div>
